@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">SSE example</h1>

    <div class="row">
        <div class="col"><button type="button" class="btn btn-primary" id="start-infinite">Start infinite</button></div>
        <div class="col"><button type="button" class="btn btn-primary" id="start-feedback">Start feedback</button></div>
        <div class="col"><button type="button" class="btn btn-danger" id="stop-all">Stop</button></div>
    </div>
    <div class="row">
        <select class="form-select" multiple size="3" aria-label="multiple select example" id="feedback-options">
            <option value="100">First</option>
            <option value="200">Second</option>
            <option value="500">Third</option>
            <option value="666">Forth</option>
        </select>
    </div>
    <div class="row" id="events-container">
            <h2>Events</h2>
        <ul></ul>
        </div>

</div>

<script src="js/index.js" asp-append-version="true"></script>